# server/requirements.txt
fastapi
uvicorn[standard]
websockets
pydantic
python-multipart # For file uploads
scipy # For least-squares positioning
numpy # Dependency for scipy and direct use in Kalman filter
paho-mqtt 